button {
    background: white;
    color: black;
    border: 2px solid black;
    margin-bottom: 5px;
}

button:disabled {
    background: black;
    color: white
}

button:hover {
    background: yellow;
}

.letterButton {
    width: 60px;
    font-size: 1.8rem;
}