main {
    display: none;
    background: $primary;
    min-height: 100vh;
}

h2 {
    @include fontSize(2.2rem);
    color: $white;
    text-shadow: 5px 5px 5px $black;
}

.wordToGuess {
    margin-bottom: 2%;
    border: 1px solid $black;
    text-align: center;
    background: $secondary;
    @include boxShadow($black);
    h3 {
        margin: 1.5% 0;
        color: $white;
    }
    p {
        margin-bottom: 1.2%;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 0.8rem;
        color: $white;
    }
}

.flexContainer {
    display: flex;
}

.letterButtonContainer {
    width: 50%;
    text-align: center;
    margin-top: 5%;
}

.gameAreaRight {
    width: 50%;
    text-align: center;
    canvas {
        margin-top: 2%;
        background: $white;
        border: 1px solid $black;
    }
    p {
        margin: 2% 0;
    }
    .roundsWonOrLost span {
        margin-right: 10px;
    }
}

.results {
    display: none;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;

    .resultsText {
        background: $secondary;
        border: 1px solid $black;
        @include boxShadow($black);
        p {
            font-size: 1.2rem;
            color: $white;
            padding: 40px;
            margin-bottom: 2%;
        }
        button {
            width: 220px;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px 15px;
            border: 1px solid $black;
            background: $white;
            @include boxShadow($black);
        }
        button:hover,
        button:focus {
            box-shadow: none;
            background: $black;
            color: $white;
            border: 1px solid $white;
        }
    }
}
