main {
    display: none;
    background: $primary;
    min-height: 100vh;
}

h2 {
    @include fontSize(2.2rem);
    color: $white;
    text-shadow: 5px 5px 5px $black;
    padding: 1% 0;
}

.wordToGuess {
    margin-bottom: 2%;
    border: 1px solid $black;
    text-align: center;
    background: $secondary;
    padding: 25px 0;
    @include boxShadow($black);
    h3 {
        font-size: 0.9rem;
        margin-bottom: 1.5%;
        color: $white;
    }
    p {
        // margin-bottom: 1.2%;
        font-family: 'Roboto Mono', monospace;
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0.8rem;
        color: $white;
    }
}

.flexContainer {
    display: flex;
}

.letterButtonContainer {
    width: 50%;
    text-align: center;
    margin-top: 5%;
}

.gameAreaRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    canvas {
        margin-top: 5%;
        background: $secondary;
        border: 1px solid $black;
        @include boxShadow($black);
    }
    .lives {
        background: $black;
        color: $white;
        margin-top: 10px;
        text-align: center;
        border: 1px solid $black;
        width: 300px;
        padding: 4px 0;
        @include boxShadow($black);
    }
}

.results {
    display: none;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    .resultsText {
        background: $secondary;
        border: 1px solid $black;
        @include boxShadow($black);
        p {
            font-size: 1.2rem;
            color: $white;
            padding: 40px 40px 20px;
            margin-bottom: 2%;
        }
        .roundsWonOrLost span {
            text-transform: uppercase;
            color: $white;
            // padding-bottom: 20px;
        }
        .roundsWonOrLost span:first-of-type {
            margin-right: 10px;
        }
        button {
            width: 220px;
            margin: 20px 0 40px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px 15px;
            border: 1px solid $black;
            background: $white;
            @include boxShadow($black);
        }
        button:hover,
        button:focus {
            box-shadow: none;
            background: $black;
            color: $white;
            border: 1px solid $white;
        }
    }
}
