header {
    background: $primary;
    min-height: 100vh;
}

.headerFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .gameInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        line-height: 1.2rem;
        color: $white;
        background: $secondary;
        border: 1px solid $black;
        @include boxShadow($black);
        padding: 15px;
        h1 {
            @include fontSize(2.6rem);
            text-shadow: 5px 5px 5px $black;
            color: $white;
            padding: 1% 0;
            margin-bottom: 20px;
        }
        p:first-of-type {
            width: 75%;
            text-align: center;
            margin-bottom: 15px;
        }
        p:last-of-type {
            font-weight: bold;
        }
    }
}

.categoryOptionSection {
    text-align: center;
}

.categoryFlexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
    .categoryColumn1,
    .categoryColumn2 {
        width: 50%;
    }
    .categoryOption {
        position: relative;
        width: 90%;
        padding: 26px 0;
        margin: 6px 0;
        @include boxShadow($black);
        font-size: 0.9rem;
        font-weight: bold;
    }
    span {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.45);
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-transform: uppercase;
            color: $white;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
        }
    }
}

// CATEGORY BUTTONS HOVER EFFECTS

.categoryOption:hover,
.categoryOption:focus {
    background-repeat: no-repeat;
    box-shadow: none;
    background-size: 100%;
}

.categoryOption:hover span,
.categoryOption:focus span {
    visibility: hidden;
}

.categoryOption:hover .overlay,
.categoryOption:focus .overlay {
    visibility: visible;
}

#countries:hover,
#countries:focus {
    background-image: url(../assets/countriesBackground.jpg);
    background-position: center center;
}

#outerSpace:hover,
#outerSpace:focus {
    background-image: url(../assets/outerSpaceBackground.jpg);
}

#movies:hover,
#movies:focus {
    background-image: url(../assets/moviesBackground.jpg);
}

#funAndGames:hover,
#funAndGames:focus {
    background-image: url(../assets/funAndGamesBackground.jpg);
    background-position: 10% center;
}

#sportsTeamNames:hover,
#sportsTeamNames:focus {
    background-image: url(../assets/sportsTeamsBackground.jpg);
    background-size: 120%;
    background-position: center 60%;
}

#pokemon:hover,
#pokemon:focus {
    background-image: url(../assets/pokemonBackground.jpg);
    background-position: 35% 28%;
    background-size: 120%;
}

#rockBands:hover,
#rockBands:focus {
    background-image: url(../assets/rockBandsBackground.jpg);
    background-position: center 10%;
}

#harryPotterCharacters:hover,
#harryPotterCharacters:focus {
    background-image: url(../assets/harryPotterCharactersBackground.jpg);
    background-position: 65% 28%;
}