header {
    background: $primary;
    min-height: 100vh;
}

.headerFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        @include fontSize(3.5rem);
        text-shadow: 5px 5px 5px $black;
        color: $white;
        margin-bottom: 2%;
    }
    p {
        text-transform: uppercase;
    }
}

.categoryOptionSection {
    text-align: center;
}

.categoryFlexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
    .categoryColumn1,
    .categoryColumn2 {
        width: 50%;
    }
    .categoryOption {
        position: relative;
        font-family: 'Lexend Deca', sans-serif;
        width: 90%;
        padding: 27px 0;
        margin: 7px 0;
        box-shadow: 5px 5px 10px $black;
        font-size: 1.2rem;
    }
    span {
        font-family: 'Lexend Deca', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.45);
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-family: 'Lexend Deca', sans-serif;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 0.1rem;
        }
    }
}

// CATEGORY BUTTONS HOVER EFFECTS

.categoryOption:hover,
.categoryOption:focus {
    background-repeat: no-repeat;
    box-shadow: none;
}

.categoryOption:hover span,
.categoryOption:focus span {
    visibility: hidden;
}

.categoryOption:hover .overlay,
.categoryOption:focus .overlay {
    visibility: visible;
}

#countries:hover,
#countries:focus {
    background-image: url(../assets/countriesBackground.jpg);
    background-position: center center;
}

#outerSpace:hover,
#outerSpace:focus {
    background-image: url(../assets/outerSpaceBackground.jpg);
}

#movies:hover,
#movies:focus {
    background-image: url(../assets/moviesBackground.jpg);
    background-size: 100%;
}

#funAndGames:hover,
#funAndGames:focus {
    background-image: url(../assets/funAndGamesBackground.jpg);
    background-position: center center;
}

#sportsTeamNames:hover,
#sportsTeamNames:focus {
    background-image: url(../assets/sportsTeamsBackground.jpg);
    background-position: center center;
}

#pokemon:hover,
#pokemon:focus {
    background-image: url(../assets/pokemonBackground.jpg);
    background-position: 35% 28%;
}

#rockBands:hover,
#rockBands:focus {
    background-image: url(../assets/rockBandsBackground.jpg);
}

#harryPotterCharacters:hover,
#harryPotterCharacters:focus {
    background-image: url(../assets/harryPotterCharactersBackground.jpg);
    background-position: 65% 28%;
}