@media (max-width: 1160px) {
    .results .resultsText button:first-of-type {
        margin-bottom: 5px;
    }
    .results .resultsText button:last-of-type {
        margin-top: 5px;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        width: 95%;
    }

    .results .resultsText p {
        padding: 25px 25px 15px;
    }
}

@media (max-width: 720px) {

    // HEADER PAGE

    .categoryFlexContainer {
        .categoryOption {
            height: 100px;
        }
    }

    // GAME AREA

    h2 {
        padding: 5% 0;
    }
    .gameFlexContainer {
        flex-direction: column;
        .letterButtonContainer,
        .gameAreaRight {
            width: 100%;
        }
    }
    .wordToGuess p {
        font-size: 1.8rem;
    }
    .gameAreaRight .lives {
        margin-bottom: 20px;
    }
    .gameAreaRight canvas {
        margin-top: 5%;
    }
    .gameArea .results {
        width: 100%;
        margin-top: 5%;
    }

    .results {
        .resultsText {
            p {
                font-size: 1rem;
            }
            .roundsWonOrLost span {
                font-size: 0.9rem;
            }
        }
    }
}



@media (max-width: 468px) {

    // HEADER PAGE

    .headerFlexContainer .gameInfo p:first-of-type {
        width: 90%;
    }

    .categoryOptionSection .categoryFlexContainer {
        flex-direction: column;
        .categoryColumn1,
        .categoryColumn2 {
            width: 100%;
            }
        .categoryOption {
            width: 100%;
            height: auto;
            font-size: 0.9rem;
            .overlay p {
                font-size: 0.8rem;
            }
        }
    }

    //GAME AREA

    .letterButton {
        width: 50px;
        font-size: 1.5rem;
    }

    .wordToGuess p {
        font-size: 1.2rem;
    }
    .wordToGuess h3 {
        margin-bottom: 3%;
    }

    .results {
        .resultsText {
            p {
                font-size: 0.9rem;
                padding: 20px;
            }
            .roundsWonOrLost span {
                font-size: 0.8rem;
            }
            button {
                width: 80%;
            }
        }
    }
}