a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a,
label,
textarea,
span {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

button {
  background: #FEFFFF;
  color: #17252A;
  border: 2px solid #17252A;
  margin-bottom: 5px;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
}

button:disabled {
  background: #17252A;
  color: #FEFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.letterButton {
  width: 60px;
  font-size: 1.8rem;
}

.letterButton:hover,
.letterButton:focus {
  background: lightgrey;
}

header {
  background: #3AAFA9;
  min-height: 100vh;
}

.headerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerFlexContainer .gameInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: #FEFFFF;
  background: #2B7A78;
  border: 1px solid #17252A;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
  padding: 15px;
}

.headerFlexContainer .gameInfo h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 5px 5px 5px #17252A;
  color: #FEFFFF;
  padding: 1% 0;
  margin-bottom: 20px;
}

.headerFlexContainer .gameInfo p:first-of-type {
  width: 75%;
  text-align: center;
  margin-bottom: 15px;
}

.headerFlexContainer .gameInfo p:last-of-type {
  font-weight: bold;
}

.categoryOptionSection {
  text-align: center;
}

.categoryFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 1%;
}

.categoryFlexContainer .categoryColumn1,
.categoryFlexContainer .categoryColumn2 {
  width: 50%;
}

.categoryFlexContainer .categoryOption {
  position: relative;
  width: 90%;
  padding: 26px 0;
  margin: 6px 0;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
  font-size: 0.9rem;
  font-weight: bold;
}

.categoryFlexContainer span {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.categoryFlexContainer .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryFlexContainer .overlay p {
  text-transform: uppercase;
  color: #FEFFFF;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.categoryOption:hover,
.categoryOption:focus {
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-size: 100%;
}

.categoryOption:hover span,
.categoryOption:focus span {
  visibility: hidden;
}

.categoryOption:hover .overlay,
.categoryOption:focus .overlay {
  visibility: visible;
}

#countries:hover,
#countries:focus {
  background-image: url(../assets/countriesBackground.jpg);
  background-position: center center;
}

#outerSpace:hover,
#outerSpace:focus {
  background-image: url(../assets/outerSpaceBackground.jpg);
}

#movies:hover,
#movies:focus {
  background-image: url(../assets/moviesBackground.jpg);
}

#funAndGames:hover,
#funAndGames:focus {
  background-image: url(../assets/funAndGamesBackground.jpg);
  background-position: 10% center;
}

#sportsTeamNames:hover,
#sportsTeamNames:focus {
  background-image: url(../assets/sportsTeamsBackground.jpg);
  background-size: 120%;
  background-position: center 60%;
}

#pokemon:hover,
#pokemon:focus {
  background-image: url(../assets/pokemonBackground.jpg);
  background-position: 35% 28%;
  background-size: 120%;
}

#rockBands:hover,
#rockBands:focus {
  background-image: url(../assets/rockBandsBackground.jpg);
  background-position: center 10%;
}

#harryPotterCharacters:hover,
#harryPotterCharacters:focus {
  background-image: url(../assets/harryPotterCharactersBackground.jpg);
  background-position: 65% 28%;
}

main {
  display: none;
  background: #3AAFA9;
  min-height: calc(100vh - 25px);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #FEFFFF;
  text-shadow: 5px 5px 5px #17252A;
  padding: 1% 0;
}

.wordToGuess {
  margin-bottom: 2%;
  border: 1px solid #17252A;
  text-align: center;
  background: #2B7A78;
  padding: 25px 0;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
}

.wordToGuess h3 {
  font-size: 0.9rem;
  margin-bottom: 1.5%;
  color: #FEFFFF;
}

.wordToGuess p {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.8rem;
  color: #FEFFFF;
}

.gameFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.letterButtonContainer {
  width: 50%;
  text-align: center;
  margin-top: 5%;
}

.gameAreaRight {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameAreaRight canvas {
  margin-top: 3%;
  background: #2B7A78;
  border: 1px solid #17252A;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
}

.gameAreaRight .lives {
  background: #17252A;
  color: #FEFFFF;
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  border: 1px solid #17252A;
  width: 300px;
  padding: 4px 0;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
}

.results {
  display: none;
  width: 50%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results .resultsText {
  background: #2B7A78;
  border: 1px solid #17252A;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
}

.results .resultsText p {
  font-size: 1.2rem;
  color: #FEFFFF;
  padding: 40px 40px 20px;
  margin-bottom: 2%;
}

.results .resultsText .roundsWonOrLost span {
  text-transform: uppercase;
  font-weight: bold;
  color: #FEFFFF;
}

.results .resultsText .roundsWonOrLost span:first-of-type {
  margin-right: 10px;
}

.results .resultsText button {
  width: 210px;
  margin: 20px 5px 40px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px;
  border: 1px solid #17252A;
  background: #FEFFFF;
  -webkit-box-shadow: 5px 5px 5px #17252A;
          box-shadow: 5px 5px 5px #17252A;
}

.results .resultsText button:hover,
.results .resultsText button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #17252A;
  color: #FEFFFF;
  border: 1px solid #FEFFFF;
}

footer {
  display: none;
  background: #17252A;
}

footer p {
  font-size: 0.8rem;
  color: #FEFFFF;
  text-align: center;
  padding: 4px 0;
}

@media (max-width: 1160px) {
  .results .resultsText button:first-of-type {
    margin-bottom: 5px;
  }
  .results .resultsText button:last-of-type {
    margin-top: 5px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 95%;
  }
}

@media (max-width: 720px) {
  .categoryFlexContainer .categoryOption {
    height: 100px;
  }
  h2 {
    padding: 5% 0;
  }
  .gameFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gameFlexContainer .letterButtonContainer,
  .gameFlexContainer .gameAreaRight {
    width: 100%;
  }
  .wordToGuess p {
    font-size: 1.8rem;
  }
  .gameAreaRight .lives {
    margin-bottom: 20px;
  }
  .gameAreaRight canvas {
    margin-top: 5%;
  }
  .gameArea .results {
    width: 100%;
    margin-top: 5%;
  }
}

@media (max-width: 468px) {
  .headerFlexContainer .gameInfo p:first-of-type {
    width: 90%;
  }
  .categoryOptionSection .categoryFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .categoryOptionSection .categoryFlexContainer .categoryColumn1,
  .categoryOptionSection .categoryFlexContainer .categoryColumn2 {
    width: 100%;
  }
  .categoryOptionSection .categoryFlexContainer .categoryOption {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
  }
  .categoryOptionSection .categoryFlexContainer .categoryOption .overlay p {
    font-size: 0.8rem;
  }
  .letterButton {
    width: 50px;
    font-size: 1.5rem;
  }
  .wordToGuess p {
    font-size: 1.2rem;
  }
  .wordToGuess h3 {
    margin-bottom: 3%;
  }
  .results .resultsText button {
    width: 80%;
  }
  .results .resultsText p {
    padding: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */